<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <!-- Bootstrap CSS -->
    <link href="about.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/calculate">Calculate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/learn">Learn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Content -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <!-- Background div containing all other components -->
            <div class="content-background">
                <h1>About Us</h1>
                <h2>Purpose of the Project</h2>
                <p>NIOSH RWL is a quantitative method for ergonomically analyzing and improving manual lifting tasks. The objective of this project is to develop a software (web-based or mobile) for application of NIOSH RWL method. The software will be used in the INE2012 work study and ergonomics classes for educational purposes.</p>

                <h2>Software Team</h2>
                <h3>Functional Requirements:</h3>
                <ul>
                    <li>Allow the user to enter task parameters.</li>
                    <li>Visually show parameters of the task (e.g., what H means for horizontal multiplier).</li>
                    <li>Calculate multiplier values.</li>
                    <li>Calculate RWL value.</li>
                    <li>Calculate Load Index (LI) value.</li>
                    <li>Interpret LI value and give the risk level for the task.</li>
                    <li>Propose ergonomic improvements.</li>
                    <li>Generate a report to include all the information above.</li>
                </ul>
                <p>The functional requirements listed above were developed by our software team :</p>
                <ul>
                    <li><strong>Hermann Yunus Knudsen</strong><br>
                        Backend Developer and Project Manager: Hermann Yunus Knudsen<br>
                        Email: hermannyunus.knudsen@bahcesehir.edu.tr<br>
                        GitHub: <a href="https://github.com/hermann">hermann</a>
                    </li>
                    <li><strong>Ümmü Gülsüm Ergin</strong><br>
                        Frontend Developer: Ümmü Gülsüm Ergin<br>
                        Email: ummugulsum.ergin@bahcesehir.edu.tr<br>
                        GitHub: <a href="https://github.com/gulsumergin">gulsumergin</a>
                    </li>
                    <li><strong>Başak Müzik</strong><br>
                        Frontend Developer: Başak Müzik<br>
                        Email: basak.muzik@bahcesehir.edu.tr<br>
                        GitHub: <a href="https://github.com/basak">basak</a>
                    </li>
                </ul>

                <h2>Industrial Engineering Team</h2>
                <h3>Non-Functional Requirements:</h3>
                <ul>
                    <li>Offer good UX and be developed in line with UX principles.</li>
                    <li>Be educational and provide info about task parameters, RWL, LI, and risk levels.</li>
                    <li>Allow giving an ID to the analysis (e.g., task ID number, task name, brief task description).</li>
                    <li>Give a report that is easy to print and save (e.g., PDF format).</li>
                </ul>
                <p>The functional requirements listed above were developed by our industrial engineering team :</p>
                <ul>
                    <li><strong>Yiğit Demirbilek</strong><br>
                        Manager: Yiğit Demirbilek<br>
                        Email: yigit.demirbilek@bahcesehir.edu.tr<br>
                        Website: <a href="https://yigit">yigit</a>
                    </li>
                    <li><strong>Zeynep Uçar</strong><br>
                        Designer: Zeynep Uçar<br>
                        Email: zeynep.ucar1@bahcesehir.edu.tr<br>
                        Website: <a href="https://zeynep">zeynep</a>
                    </li>
                    <li><strong>Çağla Bakışgan</strong><br>
                        Designer: Çağla Bakışgan<br>
                        Email: cagla.bakisgan@bahcesehir.edu.tr<br>
                        Website: <a href="https://cagla">cagla</a>
                    </li>
                </ul>

                <h2>Acknowledgements</h2>
                <p>We extend our sincere appreciation to our esteemed advisors, Assoc. Prof. Dr. Oğuzhan Erdinç in the field of Industrial Engineering and Assistant Prof. Özge Yücel Kasap specializing in Software Engineering. Their unwavering support, insightful guidance, and depth of expertise have been invaluable throughout our project. We are genuinely grateful for the opportunity to benefit from their mentorship, which has significantly contributed to our academic and professional growth.</p>
                <ul>
                    <li><strong>Assistant Prof. Özge Yücel Kasap</strong><br>
                        Email: ozge.yucelkasap@bau.edu.tr<br>
                        Website: <a href="https://akademik.bahcesehir.edu.tr/web/ozgeyucelkasap/tr/index.html">Özge Yücel Kasap</a>
                    </li>
                    <li><strong>Assoc. Prof. Dr. Oğuzhan Erdinç</strong><br>
                        Email: oguzhan.erdinc@bau.edu.tr<br>
                        Website: <a href="https://akademik.bahcesehir.edu.tr/web/oguzhanerdinc/tr/index.html">Oğuzhan Erdinç</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
