<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RWL-NIOSH</title>
    <link href="index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/calculate">Calculate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/learn">Learn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Content -->
<div class="container mt-4">
    <div class="content">
        <div class="col-md-12">
            <!-- Background div containing all other components -->
            <div class="content-background">
        <section id="homepage">
            <h2>WELCOME TO RWL-NIOSH CALCULATOR</h2>

            <h3><a href="#rwl">1- RWL-NIOSH</a></h3>
            <h3><a href="#history">2- History of NIOSH</a></h3>
            <h3><a href="#usage">3- How to Use RWL-NIOSH</a></h3>
            <h3><a href="#benefits">4- Benefits of Using RWL-NIOSH</a></h3>
            <!-- Add styling to visually separate the two teams -->
            <hr class="team-divider">
        </section>

        <section id="rwl">
            <h1>RWL-NIOSH</h1>
            <p>COMPUTERIZED NIOSH RECOMMENDED WEIGHT LIMIT (C-NIOSH-RWL)</p>
            <p>RWL-NIOSH stands for Recommended Weight Limit by the National Institute for Occupational Safety and
                Health. It provides guidance on safe lifting and lowering of loads to prevent injuries in the
                workplace. NIOSH is a federal agency that conducts research and makes recommendations for
                preventing work-related injury and illness. The RWL-NIOSH formula takes into account various factors
                such as the weight of the load, horizontal distance from the body, vertical distance from the ground,
                frequency of lifting, and asymmetry of the lift.
                <br><br>
                <img src="niosh.jpg" alt="NIOSH" width="500">
                <br>

                <br>
                <a href="https://www.youtube.com/user/NIOSHSafetyVideos" target="_blank" title="NIOSH"> NIOSH youtube channel</a>

                <br>
                <br>
                Here is a video about NIOSH:
                <br>
                <br>
                <iframe width="560" height="315"
                        src="https://youtube.com/embed/B5rUrKLMoas?si=_JlloaP127i6cBCj" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

            </p>


            <hr class="team-divider">
        </section>


        <section id="history">
            <h2>History of NIOSH</h2>
            <p>NIOSH was created in 1970 under the Occupational Safety and Health Act. Its mission is to promote safety
                and health at work through research, education, and training. NIOSH has published numerous guidelines
                and recommendations to help employers and workers prevent work-related injuries and illnesses. The
                RWL-NIOSH formula is one of the most widely used tools for assessing manual handling tasks in the
                workplace.
                <br><br>
                <img src="niosh-history.jpg" alt="NIOSH History" width="500">
                <br>


                <br>
                <a href="https://www.cdc.gov/niosh/about/default.html#:~:text=%E2%80%9C%20The%20Occupational%20Safety%20and%20Health,create%20safe%20and%20healthy%20workplaces."
                   target="_blank" title="About NIOSH - Centers for Disease Control and Prevention">NOISH web page</a>
                <br>
                <br>
                Here is a video about NIOSH history:

                <br>
                <iframe width="560" height="315"
                        src="https://youtube.com/embed/TkLeTSI3uJI?si=VA0muE07r3--ITSY" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

            </p>


            <hr class="team-divider">
        </section>



        <section id="usage">
            <h2>How to Use RWL-NIOSH</h2>
            <p>The RWL-NIOSH formula can be used to calculate the recommended weight limit for a specific lifting
                task. The formula takes into account various factors such as the weight of the load, horizontal
                distance from the body, vertical distance from the ground, frequency of lifting, and asymmetry of
                the lift. By using the RWL-NIOSH formula, employers and workers can identify lifting tasks that may
                pose a risk of injury and take appropriate measures to reduce the risk. So please go to our learn
                page in order to understand how it works.
                <a href="/learn">Learn</a>
                <br><br>

            <hr class="team-divider">
        </section>



        <section id="benefits">
            <h2>Benefits of Using RWL-NIOSH</h2>
            <p>Using the RWL-NIOSH formula can help prevent work-related injuries and illnesses, which can result in
                reduced productivity, increased healthcare costs, and decreased job satisfaction. By identifying
                and addressing risk factors associated with manual handling tasks, employers can create a safer and
                healthier work environment for their employees. Workers who perform manual handling tasks can also
                benefit from using the RWL-NIOSH formula by learning how to lift and lower loads safely and reducing
                their risk of injury.
                <br><br>

        </section>
            </div>
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
